[Desktop Entry]
Type=Application
Version=1.0
Name=Psensor
GenericName=Psensor
Comment=Psensor is a graphical temperature monitor for Linux
Icon=psensor
TryExec=psensor
Exec=/bin/sh -c 'sleep 30 && psensor'
Categories=Application;System;
StartupNotify=true

