body {
    padding: 1em 1em 1em 1em;
    font-family: "Ubuntu", sans-serif;
    font-size: 100%;
    font-style: normal;
    font-weight: normal;
    color: #000;
    background-color: #fff;
    margin: 0 0 0 0;
}

a {
    color: #1982D1;
    font-style: normal;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    text-transform: uppercase;
    margin: 0 0 1em 0;
    padding: 0 0 0 0;
}

#footer {
    font-style: normal;
    font-weight: normal;
    padding-top: 2em;
    color: #666;
    clear: both;
    text-align: right;
    font-size: 75%;
}

p {
    font-size: 100%;
    margin-bottom: 8px;
}

table {
	text-align: left;
	padding-left: 8px;
	padding-right: 8px;
}

thead {
    background-color: #000;
    color: #fff;
    padding-top: 4px;
    padding-bottom: 4px;
}

tbody {
    padding-top: 4px;
    padding-bottom: 4px;
}

th, td {
    padding: 4px 4px 4px 4px;
}

th {
    font-style: normal;
    font-weight: normal;
}

.chart {
    color: #000;
    font-style: normal;
    font-weight: normal;
}

ul {
    list-style: none;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

ul li ul li {
    padding-left: 1em;
}

#menu {
    float: left;
    width: 20%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

#main {
    float: right;
    width: 80%;
    padding: 0 0 0 0;
    margin: 0 0em 0 0;
}

em {
    font-weight: bold;
    font-style: normal;
}

#uptime {
    font-weight: normal;
    font-style: normal;
}