body {
    padding: 1em 1em 1em 1em;
    font-family: "Ubuntu", sans-serif;
    font-size: 100%;
    font-style: normal;
    font-weight: normal;
    color: #000;
    background-color: #fff;
    margin: 0 0 0 0;
}

a {
    color: #1982D1;
    font-style: normal;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 140%;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 1em 0;
    padding: 0 0 0 0;
}


h2 {
    font-size: 110%;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    margin: 2em 0em 1em 0em;
    padding: 0 0 0 0;
}

#footer {
    padding-top: 2em;
    color: #666;
    clear: both;
    text-align: right;
    font-size: 75%;
}

p {
    font-size: 100%;
    margin-bottom: 8px;
}

table {
    text-align: left;
    padding: 0 0 0 0;
    min-width: 50%;
    border-spacing: 0;
    border: 0;
}

thead {
    background-color: #000;
    color: #fff;
    padding: 0 0 0 0;    
}

tbody {
    padding: 0 0 0 0;
}

th {
    padding: 0.25em 0.5em 0.25em 0.5em;
    font-style: normal;
    font-weight: normal;
}

td {
    padding: 0.25em 0.25em 0em 0.25em;
}

#chart {
    color: #000;
    font-style: normal;
    font-weight: normal;
    width: 100%;
    height: 300px;
}

ul {
    list-style: none;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

ul li ul li {
    padding-left: 1em;
}

#menu {
    float: left;
    width: 20%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

#main {
    float: right;
    width: 80%;
    padding: 0 0 0 0;
    margin: 0 0em 0 0;
}

em {
    font-weight: bold;
    font-style: normal;
}

#uptime {
    font-weight: normal;
}

#menu-list em {
    text-transform: uppercase;
}

#menu ul li {
    padding-bottom: 1em;
}

#menu-list ul li {
    padding: 0 0 0 1em;
}

