body {
    padding: 1em 1em 1em 1em;
    font-family: "Ubuntu", sans-serif;
    color: #000;
    background-color: #fff;
}

a {
    color: #1982D1;
    font-style: normal;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    text-transform: uppercase;
}

#footer {
    padding-top: 2em;
    color: #666;
    clear: both;
    text-align: right;
    font-size: 75%;
}

p {
    font-size: 12px;
    line-height: 16px;
    color: #333333;
    margin-bottom: 8px;
}

table {
	text-align: left;
	width: 100%;
	padding-left: 8px;
	padding-right: 8px;
}

thead {
    background-color: #aea79f;
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
    font-weight: bold;
    padding-top: 4px;
    padding-bottom: 4px;
}

tbody {
    font-size: 12px;
    line-height: 16px;
    color: #333333;
    padding-top: 4px;
    padding-bottom: 4px;
}

th, td {
    padding: 4px 4px 4px 4px;
}

chart {
    color: #000;
}